
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e5b7b7;
  margin: 0;
}

div {
  background: rgb(240, 155, 155);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #333;
}

p {
  font-size: 18px;
  color: #555;
  margin: 5px 0;
}
